.product-card {
	padding: 16px;
	border: 1px solid #6c757d;
	font-size: 16px;
	gap: 6px;
	display: flex;
	flex-direction: column;
	border-radius: 6px;

	&__name {
		font-weight: 600;
		width: 100%;
		-webkit-line-clamp: 1;
		-webkit-box-orient: vertical;
		overflow: hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
	}

	&__desc {
		font-size: 15px;
		-webkit-line-clamp: 12;
		-webkit-box-orient: vertical;
		overflow: hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
	}

	&__price {
		font-size: 15px;
	}
}
