.header {
	background-color: #222222;
	font-size: 16px;
	font-weight: 600;
	color: #fff;
	height: 50px;

	&__title {
		margin: 0;
	}

	&__sorting-button {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 6px 10px;

		&:hover {
			background: transparent;

			.header__button-icon {
				path {
					fill: #fff;
				}
			}
		}
	}

	&__button-icon {
		transform: rotate(270deg);
		transition: all 0.15s ease-in-out;

		path {
			transition: all 0.15s ease-in-out;
		}
	}
}
